{% extends "layout.html" %}
{% block content %}
    <div class="jumbo">
        <h2>Mix Analyzer<h2>
        <h3>This application analyzes music mixes and aims at finding transitions between songs.<h3>
    </div>
    <div class="player">
        <iframe width="420" height="315" src="https://www.youtube.com/watch?v=oE5HPJ96bOo">
        </iframe>
        
        <audio controls>
            <!-- <source src="horse.ogg" type="audio/ogg"> -->
            <source src="static/media/music.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    </div>
    <div class="demo">
    </div>
    
    <div id="myProgress">
        <div id="myBar">My progress bar will go here</div>
    </div>
    
    <script type="text/javascript" src="static/js/bar.js" ></script>
    
    <script type="text/javascript">
document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>
    
{% endblock %}